.custom-shape-divider-top-1712617126 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1712617126 svg {
    position: relative;
    display: block;
    width: calc(208% + 1.3px);
    height: 93px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1712617126 .shape-fill {
    fill: #3385ff75;
}